.section--home {
    background: url(../../src/images/hero-bg.jpg);
    background-size: cover;
    padding: 10em $spacer;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}