.nav {
    position: absolute;
    left: 0;
    right: 0;
    top: $spacer;
}

ul {
    font-family: $ff-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
}

a {
    color: gray(1);
    text-decoration: none;
}

.logo {
    display: none;

    @include mq(small) {
        display: inline-block;
        fill: gray(1);
        width: 120px;
    }
}