.testimonials {
    @include limit-width();
    margin-top: $spacer;
    
    @include mq(big) {
        @include grid();
    }
}

.testimonial {
    box-shadow: $box-shadow;
    margin-bottom: $spacer;

    &__image {
        display: block;
    }

    &__body {
        padding: $spacer;
    }

    &__credit {
        background: gray(2);
        padding: $spacer;
    }

    &__name {
        font-weight: $fw-bold;
        margin: 0;
        @include underline($margin: 0.5em, $width: 50px) {
            opacity: .25;
        }
    }

    &__position {
        color: gray(3);
        font-size: .9em;
        margin: 0;
    }
}